<?xml version="1.0" encoding="UTF-8"?>
<!--  mapper 하려면 DOCTYPE에 mapper 부분으로 입력해줘야됨 (마이바티스 xml이랑 비교해서 보기) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 마이바티스 사용하려면 무조건 상단에 박아둬야하는  DOCTYPE-->

<!-- 매핑주소 변경하고 사용 -->
  
<mapper namespace="com.#.#.user.UserMapper">

	<!-- select -->
	<select id="" parameterType="" resultType="">
			
	</select>


	<!-- insert -->
	<insert id="" parameterType="">
			
	</insert>
	
	
	<!-- update -->
	<update id="" parameterType="">
		
	</update>
	
	
	<!-- delete -->
	<delete id="" parameterType="">
		
	</delete>
		
		
</mapper>

